.home .menu-bar{
	display: flex;
	z-index: 999;
	margin:  0 30rpx;
	height: 300rpx;
	width: 690rpx;
	justify-content: center;
}
.home .menu-bar .menu-left-card{
	display: inline-block;
	margin-right: 10rpx;
	width: 300rpx;
	height: 300rpx;
	
}
.home .menu-bar .menu-left-card image{
	width: 296rpx;
	height: 296rpx;
	border-radius: 10rpx;
	overflow: hidden;
}
.home .menu-bar .menu-right-card{
	display: inline-block;
	width: 380rpx;
	height: 300rpx;
}
.home .menu-bar .menu-card{
	display: inline-block;
	width: 380rpx;
	height: 145rpx;
	font-size: 25rpx;
	line-height: 150rpx;
	text-align: right;
	border-radius: 10rpx;
	background-image: url(../../static/images/type1.png);
}
.home .menu-bar .menu-card:nth-of-type(2){
	margin-top: 11rpx;
	background-image: url(../../static/images/type2.png);
}
.home .menu-bar .menu-btn{
	display: inline-block;
	vertical-align: top;
	margin: 27.5rpx 20rpx;
	height: 80rpx;
	width: 80rpx;
	border-radius: 50rpx;
	overflow: hidden;
	background-color: #3a3a3c;
}
.home .menu-bar .menu-btn i{
	margin: 20rpx auto;
	display: block;
	height: 40rpx;
	width: 40rpx;
}

.home .big-title{
	display: block;
	margin: 15rpx 0;
	padding-top: 20rpx;
	padding-left: 25rpx;
	width: 750rpx;
	height: 40rpx;
	line-height: 40rpx;
	font-size: 35rpx;
	font-weight: bold;
}
.home .card-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15rpx auto;
	width: 690rpx;
	height: 700rpx;
}
.home .card-wrap .card{
	position: relative;
	width: 226rpx;
	height: 180rpx;
	border-radius: 10rpx;
	overflow: hidden;
}
.home .card-wrap .card .card-img-wrap{
	height: 150rpx;
	width: 222rpx;
	border-radius: 4rpx;
}
.home .card-wrap .card .card-img{
	height: 150rpx;
	width: 222rpx;
	overflow: hidden;
}
.home .card-text-wrap{
	position: absolute;
	display: block;
	font-size: 26rpx;
	line-height: 30rpx;
	word-break:normal; 
	white-space:nowrap;
}
.home .play-num-btn{
	position: absolute;
	display: block;
	z-index: 999;
	top: 10rpx;
	right: 10rpx;
	width: 100%;
	height: 25rpx;
	text-align: right;
	font-size: 20rpx;
	line-height: 25rpx;
	color: #fff;
}
.home .play-num-btn i{
	display: inline-block;
	vertical-align: top;
	margin-right: 10rpx;
	width: 20rpx;
	height: 20rpx;
}