.play{
	position: relative;
	width: 750rpx;
	height: 100vh;
}
.play .play-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 750rpx;
	height: 100vh;
	overflow: hidden;
}
.play .play-bg .bg-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 800rpx;
	height: 120vh;
	filter: blur(100px);
}
.play .play-head{
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	height: 7.5vh;
	width: 750rpx;
}
.play .title-btn{
	margin: 2.25vh 3vh;
}
.play .singer{
	position: absolute;
	display: block;
	bottom: 0;
	left: 120rpx;
	height: 4vh;
	line-height: 4vh;
	font-size: 25rpx;
	color: #eee;
}
.play .play-poster{
	position: absolute;
	top: 7.5vh;
	bottom: 18.75vh;
	width: 750rpx;
}
.play .play-poster .poster-wrap{
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -225rpx;
	margin-left: -225rpx;
	height: 450rpx;
	width: 450rpx;
	border: 10rpx solid rgba(238, 238, 238, .5);
	border-radius: 225rpx;
	overflow: hidden;
	animation: loading 26s linear infinite;
}
.play .play-poster .poster-wrap-no-ani{
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -225rpx;
	margin-left: -225rpx;
	height: 450rpx;
	width: 450rpx;
	border: 10rpx solid rgba(238, 238, 238, .5);
	border-radius: 225rpx;
	overflow: hidden;
}
.play .play-poster .poster-wrap .poster{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 100%;
}
.play .play-poster .btn-bar{
	position: absolute;
	bottom: 0;
	width: 750rpx;
	height: 7.5vh;
	text-align: center;
}

/* 控制条 */
.play .play-control-bar{
	position: absolute;
	z-index: 9999;
	bottom: 0;
	height: 18.75vh;
	width: 750rpx;
}
.play .play-control-bar .progress-bar{
	position: absolute;
	top: 0;
	width: 750rpx;
	height: 6vh;
}
.play .progress-bar .progress-bg{
	margin: 1.65vh auto;
	width: 530rpx;
	height: 2.7vh;
}
.play .progress-bar .p-time{
	position: absolute;
	margin-top: .3vh;
	top: 0;
	width: ;
	font-size: 20rpx;
	line-height: 6vh;
	color: #fff;
}

/* 下面按钮 */
.play .play-btn-wrap{
	position: absolute;
	display: flex;
	top: 6vh;
	width: 750rpx;
	height: 12.75vh;
	justify-content: center;
}
.play .play-btn-wrap .play-btn{
	margin: 0.75vh 100rpx;
	height: 100rpx;
	width: 100rpx;
}
.play .play-btn-wrap .play-btn i{
	display: inline-block;
	width: 100rpx;
	height: 100rpx;
}
.play .play-btn-wrap .small-btn{
	margin: 1.875vh 0;
	height: 70rpx;
	width: 70rpx;
}
.play .play-btn-wrap .small-btn i{
	display: inline-block;
	width: 70rpx;
	height: 70rpx;
}

/* 歌词部分 */
.play .lyric{
	position: absolute;
	top: 7.5vh;
	bottom: 25vh;
	width: 750rpx;
	overflow-y: auto;
}
.play .lyric .lyric-wrap{
	position: absolute;
	top: 50%;
	width: 750rpx;
	padding-bottom: 80vh;
	transition-duration: .3s;
}
.play .lyric .lyric-wrap .text{
	display: block;
	margin: 30rpx auto;
	width: 600rpx;
	font-size: 30rpx;
	text-align: center;
	line-height: 30rpx;
	white-space: nowrap;
	color: #fff;
}
.play .lyric .lyric-wrap .active-line{
	color: #01e5ff;
	font-size: 30rpx;
}

.play .play-list{
	position: fixed;
	bottom: 0;
	z-index: 10000;
	width: 750rpx;
	height: 710rpx;
	background-color: #242424;
	border-bottom: 1rpx solid #333;
	overflow: hidden;
	transition-duration: .5s;
}
.play .play-list-bg{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100vh;
	width: 750rpx;
	background-color: rgba(0,0,0,.6);
}
.play .play-list .play-list-head{
	display: block;
	width: 750rpx;
	height: 79rpx;
	color: #aaa;
	border-bottom: 1rpx solid #333;
	background-color: #111214;
}
.play .play-list .play-list-head .play-list-title{
	display: inline-block;
	padding-left: 30rpx;
	color: #aaa;
	line-height: 79rpx;
	font-size: 30rpx;
}
.play .play-list .play-list-head .play-list-btn{
	vertical-align: top;
	float: right;
	margin: 20rpx 30rpx 20rpx 0;
}
.play .play-list .play-list-wrap{
	width: 750rpx;
	height: 640rpx;
	overflow-x: hidden;
	overflow-y: auto;
}
.play .play-list-wrap .play-list-music-info{
	display: block;
	padding-left: 30rpx;
	width: 720rpx;
	height: 79rpx;
	font-size: 30rpx;
	line-height: 80rpx;
	border-bottom: 1rpx solid #333;
	color: #aaa;
}
.play .play-list-wrap .play-list-music-info .info-wrap{
	float: left;
	width: 600rpx;
	height: 80rpx;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.play .play-list-wrap .play-list-music-info .time{
	float: right;
	margin-right: 30rpx;
}
.play .play-list-wrap .play-list-music-info .play-list-singer{
	margin-left: 10rpx;
	font-size: 20rpx;
	color: #666;
}
.play .play-list-wrap .active{
	color: #01e5ff;
	background-color: #353535;
}
@keyframes loading{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}